*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', 'Arial', 'sans-serif';
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
.content {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: flex-end;
  width: 1140px;
}
.search-form {
  justify-content: flex-start;
  display: flex;
  gap: 40px;
}
.content__details {
  width: 100%;
  height: 100%;
}
.content__list-container {
  height: 298px;
  overflow: auto;
}
.result__video-container {
  margin-bottom: 5px;
  width: 711px;
  height: 386px;
}
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content__list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content__video-card {
  display: flex;
  align-items: flex-start;
}
.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}
.content__video-card-description-container {
  flex-grow: 1;
  max-width: 196px;
}
.search-form__fieldset-title {
  margin-bottom: 7px;
  margin-top: 14px;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
  margin-left: 2px;
}
.title {
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  letter-spacing: 0;
  font-family: 'oswald', 'Arial', 'sans-serif';
}
.content__accent {
  color: #545050;
}
.content__card-link {
  text-decoration: none;
  color: #fff;
}
.content__video-card-title {
  font-family: 'oswald', 'Arial', 'sans-serif';
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  padding-top: 2px;
}
.content__video-card-description {
  line-height: 16.2px;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Fira Sans Condensed', 'Arial', 'sans-serif';
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  letter-spacing: 0;
}
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}
.search-form__fieldset {
  border: none;
}
.search-form__label {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}
.search-form__textfield {
  width: 225px;
  font-family: 'Fira Sans Condensed', 'Arial', 'sans-serif';
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
  appearance: none;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
}
.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}
.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 0px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}
.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}
.search-form__pseudo-checkbox:hover {
  cursor: pointer;
}

.search-form__label-text:hover {
  cursor: pointer;
  text-underline-offset: 2px;
  text-decoration: underline;
}
.button {
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  font-family: 'Fira Sans Condensed', 'Arial', 'sans-serif';
  color: #fff;
}
.search-form__submit-button {
  align-self: flex-end;
  padding: 6px 73.5px;
}
.more-button {
  margin-right: 3px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.button:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 2px;
}
.button:focus {
  outline: none;
}
.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
.button:active {
  background-color: #545050;
}
.content__card-link {
  display: block;
}
.content__card-link_current {
  background-color: #545050;
}
.content__card-link:active {
  background-color: #545050;
}
.content__card-link:hover {
  text-decoration: underline;
}
.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}
.content__card-link:focus {
  outline: none;
}
.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
.result__video-container,
.content__list-container {
  position: relative;
}
